@model IEnumerable<TestMVC.Models.Entity.PurchasedItem>

<div class="container justify-content-center">
    <div class="purchase-history-container">
        <table class="table scrollable-table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Per Item Price</th>
                <th>Total Price</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.PurchaseDate.Month / @item.PurchaseDate.Year</td>
                    <td>@item.Item!.ItemName</td>
                    <td>@item.Quantity</td>
                    <td>@item.PerItemPrice</td>
                    <td>@((item.Quantity*item.PerItemPrice).ToString("C"))</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>