@model ICollection<TestMVC.Models.Item>

@{
    ViewData["Title"] = "Home Page";
    var searchQuery = ViewData["SearchQuery"]?.ToString();
    int totalPages = ViewBag.TotalPages;
    int currentPage = ViewBag.CurrentPage;
}


<div class="d-flex justify-content-center">
    <form method="get" class="form-inline">
        <input type="text" name="searchQuery" value="@searchQuery" placeholder="Search..." class="form-control"/>
        <button type="submit" class="btn btn-primary ml-2">
            <i class="fas fa-search"></i>
        </button>
    </form>
</div>

<br/>
<div class="container mt-4 flex-y scrollable-container">
    <div class="row">
        @foreach (var item in Model.Take(12))
        {
            <div class="col-md-4 mb-4">
                <div class="card card-depth">
                    <div class="card-body">
                        <h5 class="card-title">@item.ItemName</h5>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text">
                            <strong>Category:</strong> @item.Category.ToString()
                        </p>
                        @if (item.InStock)
                        {
                            <a asp-controller="Item" asp-action="Details" asp-route-id="@item.Id" class="float-right">
                                <i class="fas fa-search"></i>
                            </a>
                        }
                        else
                        {
                            <span class="float-right text-muted">
                                <i class="fas fa-search"></i>
                            </span>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<br/>
<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (var i = 1; i <= totalPages; i++)
            {
                <li class="page-item @(i == currentPage ? "active" : "")">
                    <a class="page-link" href="?page=@i&searchQuery=@searchQuery">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>

<style>
    .scrollable-container {
        max-height: 600px; /* Adjust based on your needs */
        overflow-y: auto;
    }
    .card-depth {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .card-body {
        display: flex;
        flex-direction: column;
    }

    .card-title, .card-text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>